@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100%;
  margin: 0; /*disable default margin */
  padding: 0;
}

/* to vertically center the image */
.profileContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

img {
  /* border-radius: 25px; */
  transition: border-radius 1.5s, opacity 1.5s, box-shadow 1.5s, transform 1.5s;
  opacity: 80%;
  /* border: 50px solid transparent; */
  border-right-style: hidden;
  border-bottom-style: hidden;
  z-index: 1;
  animation-name: imgOpacity;
  animation-duration: 1.2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  transform: scale(0.25);
}

img:hover {
  /* border: 10px solid rgba(0, 0, 0, 0); */
  border-left-color: rgba(0, 0, 0, 0.75);
  border-right-style: hidden;
  border-bottom-style: hidden;
  opacity: 100%;
  border-radius: 300px;
  box-shadow: 50px 20px 50px rgb(255, 255, 255);
  cursor: grabbing;
  transform: scale(0.5);
  animation-name: shadow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

img:active {
  transition: transform 0.2s;
}

.btnContainer {
  display: flex;
}

.button {
  border: 2px black solid;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 1;
}

.swBtn {
  margin-right: 25px;
}

.swBtn:hover {
  /* background-color: #04aa6d; */
  background: linear-gradient(
    to top,
    rgb(0, 7, 110),
    rgb(0, 28, 440),
    rgb(0, 191, 255)
  );
  color: white;
  border-color: #000;
}

.swBtn:active {
  background: linear-gradient(
    to bottom,
    rgb(0, 7, 110),
    rgb(0, 28, 440),
    rgb(0, 191, 255)
  );
  color: white;
  border-color: #000;
}

.appSecBtn:hover {
  /* background-color: #0407aa; */
  background: linear-gradient(
    to bottom,
    rgb(0, 7, 110),
    rgb(0, 28, 440),
    rgb(0, 191, 255)
  );
  color: white;
  border-color: #000;
}

.appSecBtn:active {
  background: linear-gradient(
    to top,
    rgb(0, 7, 110),
    rgb(0, 28, 440),
    rgb(0, 191, 255)
  );
  color: white;
  border-color: #000;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@keyframes imgOpacity {
  0% {
    opacity: 0%;
    transform: scale(0.5);
  }
  5% {
    opacity: 5%;
    transform: scale(0.487);
  }
  10% {
    opacity: 10%;
    transform: scale(0.475);
  }
  15% {
    opacity: 15%;
    transform: scale(0.462);
  }
  20% {
    opacity: 20%;
    transform: scale(0.45);
  }
  25% {
    opacity: 25%;
    transform: scale(0.437);
  }
  30% {
    opacity: 30%;
    transform: scale(0.425);
  }
  35% {
    opacity: 35%;
    transform: scale(0.412);
  }
  40% {
    opacity: 40%;
    transform: scale(0.4);
  }
  45% {
    opacity: 45%;
    transform: scale(0.387);
  }
  50% {
    opacity: 50%;
    transform: scale(0.375);
  }
  55% {
    opacity: 55%;
    transform: scale(0.362);
  }
  60% {
    opacity: 60%;
    transform: scale(0.35);
  }
  65% {
    opacity: 65%;
    transform: scale(0.337);
  }
  70% {
    opacity: 70%;
    transform: scale(0.325);
  }
  75% {
    opacity: 75%;
    transform: scale(0.312);
  }
  80% {
    opacity: 80%;
    transform: scale(0.3);
  }
  85% {
    opacity: 85%;
    transform: scale(0.287);
  }
  90% {
    opacity: 90%;
    transform: scale(0.275);
  }
  95% {
    opacity: 95%;
    transform: scale(0.262);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 50px 20px 50px rgb(255, 255, 255);
  }
  25% {
    box-shadow: 50px 20px 45px rgb(255, 255, 255);
  }
  50% {
    box-shadow: 50px 20px 40px rgb(255, 255, 255);
  }
  75% {
    box-shadow: 50px 20px 45px rgb(255, 255, 255);
  }
}