.headshot {
  border: 2px solid white;
  border-radius: 50px;
}

.allContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  z-index: 1;
}