body {
    height: 100%;
    margin: 0; /*disable default margin */
    padding: 0;
    background: radial-gradient(
      circle,
      rgba(0, 146, 255, 1) 22%,
      rgba(0, 36, 10, 1) 100%
    );
    /* background-image: linear-gradient(
        210deg,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("./resource/cyber.jpg"); */
    background-position: center;
    background-size: cover;
  }
  
  img {
    border-radius: 25px;
    transition: border-radius 1s, opacity 2s, box-shadow 2s, transform 2s;
    /* opacity: 10%; */
    opacity: 80%;
    /* animation optional */
    animation-name: cornerSliding;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: scale(0.38);
    position: absolute;
  }
  
  /* img:hover {
    border: 50px solid rgba(0, 0, 0, 0);
    opacity: 100%;
    border-radius: 100px;
    box-shadow: 25px 10px 25px grey;
    cursor: grabbing;
    transform: scale(0.38);
  } */
  
  .profile {
    height: 100vh; /*to vertically center the image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes cornerSliding {
    0% {
      top: -30%;
      left: -30%;
    }
    25% {
      left: 30%;
      top: 25%;
    }
    50% {
      left: -30%;
      top: 25%;
    }
    75% {
      left: 30%;
      top: -25%;
    }
    100% {
      top: -25%;
      left: -30%;
    }
  }
  