.swBgContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 50%;
}

.swContent {
  z-index: 1;
}

.headshot {
  border: 2px solid white;
  border-radius: 50px;
}
